.navbar-default{
	background: transparent;
}
p{
	text-align: justify;
}
.img-box{
	padding: 2%;
	overflow-y:hidden;
}
.img-item{
	width: 100%;
}
.destination{
	background: orange;
	border: 1px gray solid;
	padding: 10px;
}
#map-canvas {
	height: 100%; 
	height:250px; 
}
.map-detail{
	margin-top: 25px;
}
#map{
	width: 100%;
	height: 100%;
	border: 2px solid #ddd; 
}  	
.object-item{
	padding: 5px;
}
.outline{
	border: 2px solid #ddd;
	border-radius: 6px;
}
.floated{
	float: left;
}
.border-shadow{
	border: 1px solid #d9d9d9;
	-webkit-box-shadow: 0 1px 3px #d9d9d9;
	-moz-box-shadow: 0 1px 3px #d9d9d9;
	-o-box-shadow: 0 1px 3px #d9d9d9;
	-ms-box-shadow: 0 1px 3px #d9d9d9;
	box-shadow: 0 1px 3px #d9d9d9;
}  
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	width: 100%;
}
#input-form{
	margin-top: 80px;
}

#home{
	background:url('../img/pool.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100%;
}
.input-item{
	margin: 0px 10px 25px;
}
.input-item-last{
	margin: 0px 10px 15px;
}
.price{
	font-weight: bold;
	font-size: 2em;
}
.price-item{
	margin-bottom: 15px;
}
.caption{
	position: absolute;
	top: 13px;
	padding: 10px;
	margin: 10px;
	background: white;
	opacity: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    width: 80%;
}
.img-box:hover .caption{
	opacity: 1;
}


.navbar-default .navbar-nav>li>a {
  color: #3C3838;
  font-weight: bold;
  font-size: 1.2em;
  background: #BEDBE4;
  margin-right: 14px;
  padding: 15px 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
}

.navbar-default {
  background: transparent;
  border: none;
  margin-top: 10px;
}
.logo{
	font-size: 2.5em;
	font-family: fantasy;
}